.task-list-container {
  max-width: 1000px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.state-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
  margin-top: 1rem;

  &.error {
    color: #f44336;
  }
}

.table-container {
  margin-top: 1rem;
}
