<h2 mat-dialog-title>Add New Task</h2>

<mat-dialog-content>
  <app-task-form></app-task-form>
  @if (submissionError(); as errorMsg) {
    <div class="dialog-error">
      <p>{{ errorMsg }}</p>
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()" [disabled]="isSubmitting()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSave()" [disabled]="isSubmitting()">
    <ng-container *ngIf="isSubmitting(); else saveLabel">
      <span>Saving...</span>
    </ng-container>
    <ng-template #saveLabel>
      <span>Save</span>
    </ng-template>
  </button>
</mat-dialog-actions>
