<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" required />
    @if (form.get('title')?.hasError('required') && form.get('title')?.touched) {
      <mat-error>Title is required.</mat-error>
    }
    @if (form.get('title')?.hasError('minlength') && form.get('title')?.touched) {
      <mat-error>Title must be at least 3 characters long.</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description" required></textarea>
    @if (form.get('description')?.hasError('required') && form.get('description')?.touched) {
      <mat-error>Description is required.</mat-error>
    }
  </mat-form-field>
</form>
